*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

:root{
    font-size: 1.0rem;
    --clr-primary: hsl(210, 11%, 15%);
    --clr-operator: hsl(24, 100%, 50%);
    --clr-number: hsl(210, 10%, 23%) ;
    --clr-top-operator: hsla(0, 0%, 100%, 0.833) ;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;   
}

.calculator{
    max-width: 400px;
    height: 500px;
    padding: 1.25rem;
    background-color: var(--clr-primary);
    border-radius: 32px;
     box-shadow: -168px 560px 164px 0px rgba(0, 0, 0, 0.01), -107px 358px 150px 0px rgba(0, 0, 0, 0.08), -60px 202px 126px 0px rgba(0, 0, 0, 0.27), -27px 90px 94px 0px rgba(0, 0, 0, 0.45), -7px 22px 51px 0px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    border: 1px solid #ccc;
}

input#result{
    text-align: end;
    width: 100%;
    background: transparent;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.5rem;
    outline: 2px solid red;
    margin-top: 4rem;
     margin-bottom: .2rem;
}


.calculator-btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.zero-span{
    grid-column: span 2;
    width: 140px!important;
    border-radius: 2.125rem;
    text-align: left!important;
}

button{
    text-align: center;
    outline: none;
    margin-left: 4.7px;
    width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    cursor: default;
}

.number , .decimal{
    background-color: var(--clr-number);
    color: white;

    &:hover{
        background-color: hsla(0, 2%, 87%, 0.781) ;
    }
}


.operator:not(.diff-color) ,.equals{
    background-color: var(--clr-operator);
    color: white;

     &:hover{
        background-color:  hsl(24, 100%, 75%);
    }
}


/* top operators from the AC +/- % */
.diff-color{
    background-color: var(--clr-top-operator);
    color: #000;

     &:hover{
        background-color: rgb(255, 255, 255);
    }
}